@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-cream: #F7F1DE;
  --color-sage: #B0BA99;
  --color-terracotta: #9D6638;
  --color-umber: #4E220F;
  --color-umberdark: #1F0D06;
  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

button,
a,
[role="button"] {
  cursor: pointer;
}
